.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1 {
	color: #782F40;
	text-shadow: 5px 2px 4px black;
}
h2 {
	color: black;
}
h3 {
  color: black;
  font-size: 30px; 
}
h4 {
  color: black;
  font-size: 30px;
}
h5 {
  color: black;
  font-size: 24px;
}
p {
  color: black;
  
}
body{
	background-color: #CEB888;
	padding-top: 50px;
}
.button1{
	color: white;
	background-color: #782F40;
	border-radius: 4px;
	padding: 12px 28px;
	font-size: 16px;
	opacity: .8;
  	transition: 0.3s;
  	display: inline-block;
  	text-decoration: none;
  	cursor: pointer;
}
.button1:hover {
	opacity: 1
  }